* {
    /* text-align: justify; */
    font-family: Arial, Helvetica;
    letter-spacing: .5rem;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    
}

body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
height: 100vh;
color: rgb(43, 43, 43);
background-color: darkred;
}
.glow{
    color:yellow
}
table {
 max-width: 19rem;
 padding: 0 0 0 0.5rem;
}

.highlight {
    color: lightpink;
    font-weight: bolder;
    text-transform: uppercase;
}


@media screen and (orientation: landscape) {
    
    * {
        letter-spacing: .2rem;
        font-size: 0.8rem;
        line-height: 1.6rem;
        } 

    body {
        height: 100vh;
    }

    table {
        padding: 0 0 0 0.2rem;
    }
    
  } 


